<div class="surface-display" ng-show="ui.ready">
    <img class="page-background" ng-src="assets/img/customer/{{skin.customerFolder}}/background_sendphoto.jpg"/>
    <hidden-home></hidden-home>

    <div class="centered-msg" style="font-family: sunocobold, Courier;">{{ui.msg | uppercase}}</div>

    <div class="reg-input-holder"
         style="font-family: sunoco, Courier;height:670px;overflow-y:scroll;">
        <form name="regForm" style="display:inline">

            <div class="right-inner-addon">
                <span ng-show="ui.firstNameError" class="glyphicon glyphicon-remove"></span>
                <input name="userFirstName" type="text" ng-model="user.firstName" value="{{user.firstName}}"
                       placeholder="First Name [required]" required/>
            </div>

            <div class="right-inner-addon">
                <span ng-show="ui.lastNameError" class="glyphicon glyphicon-remove"></span>
                <input name="userLastName" type="text" ng-model="user.lastName" value="{{user.lastName}}"
                       placeholder="Last Name [required]" required/>
            </div>

            <br>

            <div class="right-inner-addon">
                <span ng-show="regForm.userEmail0.$error.email" class="glyphicon glyphicon-remove"></span>
                <input name="userEmail0" type="email" ng-model="emails[0].email" value="{{emails[0].email}}"
                       placeholder="E-mail Address [required]" required/>
            </div>


            <span ng-show="emails.length==1">
                <button class="char-btn" ng-click="updateEmails(0)">+</button>
                <span style="color:white; font-size:20px">Add E-mail Address</span>
                <div class="blank-inner-addon" style="width:248px"></div>
            </span>

            <div class="blank-inner-addon" style="width:500px" ng-show="emails.length!=1"></div>

            <br>

            <div ng-repeat="obj in emails track by $index" ng-show="$index > 0">

                <div class="right-inner-addon">
                    <span ng-show="regForm.userEmail1.$error.email" class="glyphicon glyphicon-remove"></span>
                    <input name="userEmail1" ng-model="obj.email" value="{{obj.email}}"
                           placeholder="E-mail Address" type="email"/>
                </div>

                <!--Removes the email it is associated with
                <span ng-show="emails.length!=$index+1">
                    <button class="char-btn" style="background:transparent;color:white;width:50px"
                            ng-click="updateEmails($index)">-</button>
                    <div class="blank-inner-addon" style="width:423px"></div>
                </span>-->

                <span ng-show="emails.length!=$index+1">
                    <div class="blank-inner-addon" style="width:500px"></div>
                </span>

                <span ng-show="emails.length==$index+1">
                    <button class="char-btn" ng-click="updateEmails(0)">+</button>
                    <span style="color:white; font-size:20px">Add E-mail Address</span>
                    <div class="blank-inner-addon" style="width:248px"></div>
                </span>
            </div>

        </form>

        <div class="centered-div" style="padding-bottom:100px">
            <button class="reg-btn" ng-click="back()" style="color:darkgrey; font-family: sunocoblack, Courier;">BACK</button>
            <button class="reg-btn" ng-disabled="!regForm.$valid" ng-click="submit()" style="font-family: sunocoblack, Courier;">SUBMIT</button>
        </div>

    </div>

</div>