<div class="surface-display" ng-show="ui.ready">
    <img class="page-background" ng-src="assets/img/customer/{{skin.customerFolder}}/background_sendphoto.jpg"/>

    <div class="centered-msg" style="font-family: sunocobold, Courier;">{{ui.msg | uppercase}}</div>

    <div class="reg-input-holder" style="font-family: sunoco, Courier;">
        <form name="regForm" style="display:inline">

            <div class="right-inner-addon">
                <span ng-show="ui.firstNameError" class="glyphicon glyphicon-remove"></span>
                <input name="userFirstName" type="text" ng-model="user.firstName" value="{{user.firstName}}"
                       placeholder="First Name [required]" required/>
            </div>

            <div class="right-inner-addon">
                <span ng-show="ui.lastNameError" class="glyphicon glyphicon-remove"></span>
                <input name="userLastName" type="text" ng-model="user.lastName" value="{{user.lastName}}"
                       placeholder="Last Name [required]" required/>
            </div>

            <br>

            <button class="char-btn" ng-click="updateEmails(0)" ng-disabled="emails.length >= 5"
                    style="color:white;position:absolute;left:125px;">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="right-inner-addon" style="left:-5px">
                <span ng-show="regForm.userEmail0.$error.email" class="glyphicon glyphicon-remove"></span>
                <input name="userEmail0" type="email" ng-model="emails[0]" value="{{emails[0]}}"
                       placeholder="E-mail Address [required]" required/>
            </div>


            <button class="reg-btn" ng-click="back()" style="color:darkgrey; font-family: sunocoblack, Courier;">BACK
            </button>
            <button class="reg-btn" ng-disabled="!regForm.$valid" ng-click="submit()"
                    style="font-family: sunocoblack, Courier;">SUBMIT
            </button>

            <br>

            <div ng-show="emails.length>=2">
                <button class="char-btn" ng-click="updateEmails(1)" style="color:white;position:absolute;left:125px;">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <div class="right-inner-addon" style="left:-5px">
                    <span ng-show="regForm.userEmail1.$error.email" class="glyphicon glyphicon-remove"></span>
                    <input name="userEmail1" ng-model="emails[1]" value="{{emails[1]}}"
                           placeholder="Additional E-mail Address"/>
                </div>
                <div class="blank-inner-addon"></div>
            </div>


            <div ng-show="emails.length>=3">
                <button class="char-btn" ng-click="updateEmails(2)" style="color:white;position:absolute;left:125px;">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <div class="right-inner-addon" style="left:-5px">
                    <span ng-show="regForm.userEmail2.$error.email" class="glyphicon glyphicon-remove"></span>
                    <input name="userEmail2"  ng-model="emails[2]" value="{{emails[2]}}"
                           placeholder="Additional E-mail Address"/>
                </div>
                <div class="blank-inner-addon"></div>
            </div>


            <div ng-show="emails.length>=4">
                <button class="char-btn" ng-click="updateEmails(3)" style="color:white;position:absolute;left:125px;">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <div class="right-inner-addon" style="left:-5px">
                    <span ng-show="regForm.userEmail3.$error.email" class="glyphicon glyphicon-remove"></span>
                    <input name="userEmail3" ng-model="emails[3]" value="{{emails[3]}}"
                           placeholder="Additional E-mail Address"/>
                </div>
                <div class="blank-inner-addon"></div>
            </div>


            <div ng-show="emails.length>=5">
                <button class="char-btn" ng-click="updateEmails(4)" style="color:white;position:absolute;left:125px;">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <div class="right-inner-addon" style="left:-5px">
                    <span ng-show="regForm.userEmail4.$error.email" class="glyphicon glyphicon-remove"></span>
                    <input name="userEmail4" ng-model="emails[4]" value="{{emails[4]}}"
                           placeholder="Additional E-mail Address"/>
                </div>
                <div class="blank-inner-addon"></div>
            </div>

        </form>

    </div>

</div>