<div class="surface-display">
    <img class="page-background" ng-src="assets/img/customer/sunoco/background_approvephoto.jpg"/>
    <hidden-home></hidden-home>

    <div class="centered-msg" style="font-family: sunocobold, Courier;">CONFIRM YOUR TAKEAWAY:</div>

    <img class="approval-photo-cust" ng-src="{{p.downloadUrl}}" img-loader ng-click=""/>

    <div class="pull-right">
        <button class="side-btn" ng-click="back()" style="color:darkgrey; font-family: sunocoblack, Courier;">GO BACK</button>
        <br>
        <button class="side-btn" ng-click="reg()" style="font-family: sunocoblack, Courier;">E-MAIL</button>
    </div>

</div>

